body {
    margin: 0 auto;
    padding: 0;
}

.esquerda h1 {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    /* Ver com o professor como alinhar esse texto no centro */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.esquerda {
    width: 70%;
    height: 100vh;
    float: left;
    background-color: #fff;
    /* Alinhando utilizando flex-box */
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}

.direita {
    float: right;
    height: 100vh;
    width: 29%;
    border-left: 1px solid #a7a7a7;
    background-color: #cacaca;
    box-shadow: -10px 0px 8px -10px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0));
    text-align: center;
}

form {
    padding: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

input {
    display: block;
    max-width: 80%;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 auto 20px;
}

button {
    background-color: #008CBA;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

a {
    color: #008CBA;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

.direita button:hover {
    background-color: #006181;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}